.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detail {
    height: 500px;
    width: 400px;
    overflow: auto;
}

.detail::-webkit-scrollbar {
    width: 0.5em;
}

.detail::-webkit-scrollbar-thumb {
    background-color: transparent;
}